

p.slt{color: blue}
/* CSS Document */


img.curriculum{ display: block;margin-left: auto;margin-right: auto;margin-top: 70px;margin-bottom: 100px}

p.penelope{color:orangered}

body{background:url("valley-4927681_1280.webp"); background-size: cover;}

marquee {color: #146438;
background-color:white;display: block; margin-left: auto;margin-right: auto;margin-top: 70px }

img.zebra{align-content:center}

/* ===== Background picture ===== */
body.contact-page {
    background-color: #1a1a1a;
 
    background-size: cover;
    background-position: center;
}
/* ===== Background picture FIN ===== */

/* ===== Liz taylor image ===== */
.left-image {
    float: left;
    margin: 20px; /* optional spacing around it */
}