body{background:url("pink background.png")no-repeat; background-size: cover;background-attachment: fixed}

div#content div.annonce{background-color: lightpink;background-size: 55px
width: 100%;
	margin:200px;
	background-attachment: fixed;
}

div#content div.leftbox{
	background-color: yellow;
	vertical-align:middle;margin:100px;
}

daffodils {background-color: aliceblue;align-content: stretch}